<form class="form" (submit)="addNote(noteTitle.value); noteTitle.value=''">
<div class="from-group">
    <input #noteTitle class="form-control" placeholder="Your Notes">
</div>
<input type="submit" value="SUBMIT" class="btn btn-success btn-lg btn-block">
</form>

<div class="form-group">
    
      <div *ngFor="let note of notes; let i=index">
        <div  class="list-group-item" style="margin-top: 20px;"> 
           <h3 >{{i+1}}</h3>
        <p *ngIf="note!=editNote">{{note.title}} 
        
            <button class="btn btn-danger" style="float: right;" (click)="deleteNote(note)">Delete</button>
            <button class="btn btn-primary" style="float: right;" (click)="edit(note)">Edit</button>
        </p>
        <textarea  
        *ngIf="note==editNote"
          class="form-control" 
          style="margin-bottom:5px;"
          name="message"
          rows="4"
          [(ngModel)]="note.title"
          #message='ngModel'
          ></textarea>
        <button *ngIf="note==editNote" class="btn btn-success"  (click)="updateNote()" style="margin-right:5px;">Save</button>
        <button *ngIf="note==editNote" class="btn btn-secondary"  (click)="getNotes()">Back</button>
       
       
    </div>  
    </div>
    
</div>
